@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0F1115;
    color: #EDEDED;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0F1115;
}

::-webkit-scrollbar-thumb {
  background: #2A2E35;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3E444D;
}